@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.7px;
}
body{
    width: 88%;
    margin: auto;
    background-color: #141b29;
    color: white;
    overflow: hidden;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 46px;
}
nav h3{
    font-family: system-ui;
    font-size: 22px;
    letter-spacing: 1px;
}
nav h3 span{
    color: #FF5500;
}
nav h3::before{
    content: "<";
}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    margin: 0 38px;
    color: white;
    transition: 0.4s;
}
nav ul li a:hover{
    color: #FF5500;
    transition: 0.4s;
}
nav .btn{
    background-color: #1f2d47;
    border: #FF5500 1px solid;
    padding: 8px 16px;
    color: white;
    font-size: 16px;
    margin: 0 20px;
    transition: 0.4s;
}
nav .btn:hover{
    background-color: #273e68;
    transition: 0.4s;
}
#Home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 110px;
}
.image img{
    width: 520px;
}
.text h3{
    font-family: system-ui;
    font-weight: 200;
}
.text h1{
    margin: 3px 0;
    font-weight: 800;
    font-size: 40px;
}
.text h1 span{
    color: #FF5500;
}
.text h2{
    font-family: system-ui;
    font-weight: 200;
    margin-bottom: 38px;
}
.a1{
    background-color: #FF5500;
    border: none;
    padding: 12px 30px;
    font-size: 15px;
    color: white;
    border-radius: 6px;
    margin-right: 10px;
}
.a2{
    background-color: #273e68;
    border: none;
    padding: 12px 22px;
    font-size: 15px;
    color: white;
    border-radius: 6px;
    margin-right: 10px;
}